#movieContainer { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

main {
  margin: 0px;
  padding: 0px 50px;
}

h1, h2, h3 {
  color: white;
  padding-left: 10px;
}

body {
  background-color: black;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.movie {
  padding: 20px;
  margin: 5px;
  width: 15%;
  text-align: center;
  border-style: solid;
  background-color: lightyellow;
}

.movie > p {
  font-size: 20px;
}

.controls {
  margin: 30px 8px;
  
}

select {
  padding: 10px;
  padding-left: 5px;
  background-color: white;
  border: none;
  width: 20%;
}

#calendarSelect {
  margin-left: 16px;
}


header {
  background-color: grey;
  width: 100%;
  padding: 1px 2px;
}

h4 {
  font-size: 28px;
}

.moviePoster {
  height: auto;
  border-radius: 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1800px) {
  #movieContainer {
    width: 100%;
    justify-content: center;
  }
  .movie {
    width: 20%;
  }
}

@media (max-width: 1400px) {
  #movieContainer {
    width: 100%;
    justify-content: center;
  }
  .movie {
    width: 25%;
    height: 10%;
  }
}

@media (max-width: 1170px) {
  #movieContainer {
    width: 100%;
    justify-content: center;
  }
  .movie {
    width: 25%;
    height: 50%;
  }
}